
/*nav 1*/
.nav1 {
  text-align: center;
  padding-top: 2em;
  font-size: 20px;
  color: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  background: #000;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  background: #000;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: transparent;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

/*nav 2*/
.nav2 {
  text-align: center;
  padding-top: 3em;
  font-size: 20px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


/* Button section*/
.buttons {
  text-align: center;
  padding-top: 10em;
  font-size: 20px;
  color: white;


}
.buttons button {
  margin-left: 2rem;
}
.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-layered-3d > ::before {
  box-sizing: border-box;
} 
 
.btn-layered-3d {
  width: 180px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0px;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.15em 2em;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out 0s, background 0.15s ease-out 0s;
} 
 
.btn-layered-3d::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0px;
  border-radius: inherit;
  transform: translate3d(0px, 0.75em, -1em);
  transition: transform 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
} 
 
.btn-layered-3d:hover {
  transform: translateY(0.25em);
} 
 
.btn-layered-3d:hover::before {
  transform: translate3d(0px, 0.5em, -1em);
} 
 
.btn-layered-3d--blue {
  color: rgb(61, 135, 255);
  background: rgb(214, 230, 255);
  border: 2px solid rgb(61, 135, 255);
} 
 
.btn-layered-3d--blue::before {
  background: rgb(148, 189, 255);
  box-shadow: rgb(61, 135, 255) 0px 0px 0px 2px, rgb(214, 230, 255) 0px 0.625em 0px 0px;
} 
.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-shadow-drop {
  position: relative;
  margin-top: 10%;
  background: rgb(249, 250, 250);
  padding: 20px;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  left: 0px;
  top: 0px;
  width: 180px;
} 
 
.btn-shadow-drop:hover {
  left: 4px;
  top: 4px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
} 
 
.btn-shadow-drop--red {
  border: 1px solid rgb(239, 35, 60);
  color: rgb(239, 35, 60);
  box-shadow: rgb(239, 35, 60) 4px 4px 0px 0px;
} 
.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-striped-shadow {
  overflow: visible;
  border: 0px;
  padding: 0px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  transition: opacity 0.3s ease 0s, z-index 0.3s step-end 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  z-index: 1;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  width: 180px;
  height: 48px;
  line-height: 38px;
} 
 
.btn-striped-shadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
  background: rgb(250, 250, 250);
} 
 
.btn-striped-shadow::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  transition: transform 0.3s ease 0s, max-height 0.3s ease 0s, width 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  width: 8px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: -12px;
  bottom: -5px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0px 100%;
} 
 
.btn-striped-shadow::after {
  width: calc(100% - 4px);
  height: 8px;
  left: -10px;
  bottom: -9px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
} 
 
.btn-striped-shadow:hover {
  transform: translate(-12px, 12px);
  z-index: 3;
} 
 
.btn-striped-shadow:hover::before {
  max-height: calc(100% - 10px);
  transform: translate(12px, -12px);
} 
 
.btn-striped-shadow--purple::before {
  background-image: linear-gradient(135deg, transparent, transparent 5px, rgb(61, 52, 139) 0px, rgb(61, 52, 139) 10px, transparent 0px);
} 
 
.btn-striped-shadow--purple span {
  border-color: rgb(61, 52, 139);
  color: rgb(61, 52, 139);
} 
/*button 4*/
$clouds: #ecf0f1;
$turquoise: #1abc9c;
$greensea: #16a085;
$night: #34495e;
$midnight: #2c3e50;
$transition: all .5s ease;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $clouds;
  height: 100vh;
}
/* Hide the input */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.check-trail {
  display: flex;
  align-items: center;
  width: 9em;
  height: 5em;
  background: $midnight;
  border-radius: 2.5em;
  transition: $transition;
  cursor: pointer;
}
.check-handler {
  display: flex;
  margin-left: 0.5em;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  background: $night;
  border-radius: 50%;
  transition: $transition;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  &:before {
    content: "\00D7";
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
}
input[type="checkbox"]:checked + .check-trail {
  background: $greensea;
  .check-handler {
    margin-left: 50%;
    background: $turquoise;
    &::before {
      content: "\2714"
    }
  }
}
/*start typographic section*/
.typographic {
  text-align: center;
  padding-top: 10em;
  font-size: 20px;
  color: white;
}
.neon {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      padding-top: 4em;
      padding-bottom: 2em;
}
@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');

$rotationAmt: -12;

body {
  display: grid;
  grid-template-areas: ". . ." ". text ." ". . .";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background-image: radial-gradient(circle, #333333, #222222)
}

h2 {
  
  grid-area: text;
  font-family: 'Sarpanch', sans-serif;
  font-size: 20vmin;
  margin: 0;
  padding: 30px;
  color: #1d9099;
  text-shadow: 1vmin 1vmin 0 #E79C10, -1vmin -1vmin 0 #D53A33;
}
h3 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(255, 238, 0), rgb(6, 2, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h4 {
  font-family: 'Poppins', sans-serif;
  padding-top: 2em;
}
/*start media cards*/
.media {
  text-align: center;
  padding-top: 10em;
  font-size: 20px;
  color: white;
}
/*media card 1*/
.card {
  --card-gradient: rgba(0, 0, 0, 0.8);
  --card-gradient: #5e9ad9, #e271ad;
  --card-gradient: tomato, orange;
  --card-blend-mode: overlay;
  --card-blend-mode: multiply;

  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  background-image: linear-gradient(
    var(--card-gradient),
    rgb(78, 0, 0) max(9.5rem, 27vh)
  );
  overflow: hidden;

  img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    height: max(10rem, 25vh);
    max-height: max(10rem, 30vh);
    aspect-ratio: 4/3;
    mix-blend-mode: var(--card-blend-mode);
    filter: grayscale(100);

    ~ * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus-within {
    --card-gradient: #24a9d5 max(8.5rem, 20vh);
  }
}

/* Additional demo display styles */
* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: rgb(255, 0, 0);
  
}

.card h5 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.card a {
  color: inherit;
}

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
  max-width: 100vw;
  width: 45ch;
  padding-left: 1rem;
  padding-right: 1rem;
}
/*start media card 2*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

.page-contain {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #E7F3F1;
  border: .75em solid white;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background .45s ease;
  
  h6 {
    color: #2E3C40;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: .5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid #753BBD;
    transition: color .45s ease, border .45s ease;
  }

  h7 {
    color: #627084;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color .45s ease;
  }

  p {
    opacity: 0;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity .45s ease, transform .5s ease;
  }

  .link-text {
    display: block;
    color: #753BBD;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color .45s ease;

    svg {
      margin-left: 5em;
      transition: transform .6s ease;
      
      path {
        transition: fill .45s ease;
      }
    }
  }
  
  .data-card:hover {
    background: #753BBD;
    transform: scale(1.02);
  }
    h6 {
      color: #FFFFFF;
      border-bottom-color: #A754C4;
    }

    h7 {
      color: #FFFFFF;
    }

    p {
      opacity: 1;
      transform: none;
    }

    .link-text {
      color: #FFFFFF;

      svg {
        animation: point 1.25s infinite alternate;
        
        path {
          fill: #FFFFFF;
        }
      }
    }
  }
}

@keyframes point {
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}
