
/*nav 1*/
.nav1 {
  text-align: center;
  padding-top: 2em;
  font-size: 20px;
  color: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  background: #000;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  background: #000;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

/*nav 2*/
.nav2 {
  text-align: center;
  padding-top: 3em;
  font-size: 20px;
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


/* Button section*/
.buttons {
  text-align: center;
  padding-top: 10em;
  font-size: 20px;
  color: white;

}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-layered-3d > ::before {
  box-sizing: border-box;
} 
 
.btn-layered-3d {
  width: 180px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0px;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.15em 2em;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 0.15s ease-out 0s, background 0.15s ease-out 0s;
} 
 
.btn-layered-3d::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0px;
  border-radius: inherit;
  transform: translate3d(0px, 0.75em, -1em);
  transition: transform 0.15s ease-out 0s, box-shadow 0.15s ease-out 0s;
} 
 
.btn-layered-3d:hover {
  transform: translateY(0.25em);
} 
 
.btn-layered-3d:hover::before {
  transform: translate3d(0px, 0.5em, -1em);
} 
 
.btn-layered-3d--blue {
  color: rgb(61, 135, 255);
  background: rgb(214, 230, 255);
  border: 2px solid rgb(61, 135, 255);
} 
 
.btn-layered-3d--blue::before {
  background: rgb(148, 189, 255);
  box-shadow: rgb(61, 135, 255) 0px 0px 0px 2px, rgb(214, 230, 255) 0px 0.625em 0px 0px;
} 
.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-shadow-drop {
  position: relative;
  margin-top: 10%;
  background: rgb(249, 250, 250);
  padding: 20px;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  left: 0px;
  top: 0px;
  width: 180px;
} 
 
.btn-shadow-drop:hover {
  left: 4px;
  top: 4px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
} 
 
.btn-shadow-drop--red {
  border: 1px solid rgb(239, 35, 60);
  color: rgb(239, 35, 60);
  box-shadow: rgb(239, 35, 60) 4px 4px 0px 0px;
} 
.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-striped-shadow {
  overflow: visible;
  border: 0px;
  padding: 0px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  transition: opacity 0.3s ease 0s, z-index 0.3s step-end 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  z-index: 1;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  width: 180px;
  height: 48px;
  line-height: 38px;
} 
 
.btn-striped-shadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
  background: rgb(250, 250, 250);
} 
 
.btn-striped-shadow::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  transition: transform 0.3s ease 0s, max-height 0.3s ease 0s, width 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  width: 8px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: -12px;
  bottom: -5px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0px 100%;
} 
 
.btn-striped-shadow::after {
  width: calc(100% - 4px);
  height: 8px;
  left: -10px;
  bottom: -9px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
} 
 
.btn-striped-shadow:hover {
  transform: translate(-12px, 12px);
  z-index: 3;
} 
 
.btn-striped-shadow:hover::before {
  max-height: calc(100% - 10px);
  transform: translate(12px, -12px);
} 
 
.btn-striped-shadow--purple::before {
  background-image: linear-gradient(135deg, transparent, transparent 5px, rgb(61, 52, 139) 0px, rgb(61, 52, 139) 10px, transparent 0px);
} 
 
.btn-striped-shadow--purple span {
  border-color: rgb(61, 52, 139);
  color: rgb(61, 52, 139);
} 
/*button 4*/
$clouds: #ecf0f1;
$turquoise: #1abc9c;
$greensea: #16a085;
$night: #34495e;
$midnight: #2c3e50;
$transition: all .5s ease;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $clouds;
  height: 100vh;
}
/* Hide the input */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.check-trail {
  display: flex;
  align-items: center;
  width: 9em;
  height: 5em;
  background: $midnight;
  border-radius: 2.5em;
  transition: $transition;
  cursor: pointer;
}
.check-handler {
  display: flex;
  margin-left: 0.5em;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  background: $night;
  border-radius: 50%;
  transition: $transition;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  &:before {
    content: "\00D7";
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
}
input[type="checkbox"]:checked + .check-trail {
  background: $greensea;
  .check-handler {
    margin-left: 50%;
    background: $turquoise;
    &::before {
      content: "\2714"
    }
  }
}
